<!DOCTYPE html>
<html>

<head>
  <title>自动生成 anki 卡包</title>
  <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>
  <!-- <p>First name: <input type="text" name="fname" /></p>
    <p>Last name: <input type="text" name="lname" /></p> -->
  <form>
    <input type="file" id="file" name="file">
    <button type="button" id="upload">上传并下载</button>
  </form>

  <button type="button" id="example">下载模版</button>
  <script>
    $('#upload').click(function () {
      const files = $('#file').prop('files');
      if (!files.length) {
        alert('必须选中文件');
        return;
      }

      const data = new FormData();
      data.append('file', files[0]);

      $.ajax({
        url: '<%= subPath %>api/upload',
        type: 'POST',
        data: data,
        cache: false,
        processData: false,
        contentType: false,
        success: function (res) {
          console.log(res);
          if (res.code !== 1) {
            alert(res.message);
            return;
          }
          window.location.href = '<%= subPath %>api/download/' + res.filePath;
        }
      });
    });

    $('#example').click(function () {
      window.location.href = '<%= subPath %>api/download/example.xlsx';
    })
  </script>
</body>

</html>